body{
    background: #4a4949;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  background: #4a4949;
}


#photo-viewer.is-loading:after {
content: url('../img/loader.gif');
position: absolute;
top: 0;
left: 0;
}
#photo-viewer img {
/*position: absolute;*/
/*max-width: 100%;
max-height: 100%;
top: 50%;
left: 50%;*/
}

.modal {
    position: absolute;
    z-index: 1000;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #a81818;
  color:white;
}

.thumbnails{
    text-align: center;

}
h2{
    color:  white;
    text-align: center;
}

.text-center{
    text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 190px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}